@import 'global';
@import 'cardCharacter';
@import 'responsive';

.page-container {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
  }
  
  .pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


  .app-container {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
  }

  .main-content {
    flex-grow: 1; 
    padding: 20px; 
  }
  